<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>VoteEase</title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style_responsive.css" />
    <link rel="stylesheet" href="/css/zoom.css" media="all" type='text/css'  /> <!--图片弹出层样式 必要样式-->
    <!--     <link rel="shortcut icon" href="favicon.ico" />      -->
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.css" />
    <link href="/plugins/glyphicons/css/glyphicons.css" rel="stylesheet" />
    <!-- CSS pie chart -->
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/postbutton.css" />
    <!-- CSS Theme -->
    <!--     <link rel="stylesheet" href="assets/css/themes/default.css" id="style_color" /> -->
    <!--     <link rel="stylesheet" href="assets/css/themes/headers/default.css" id="style_color-header-1" />   -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
<!--=== Top ===-->
<div class="top">
    <div class="container">
        <ul class="loginbar pull-right">
            <li style="visibility:visible;"><a href="login" class="login-btn">Login</a></li>
            <li class="devider" style="visibility:visible;">&nbsp;</li>
            <li style="visibility:visible;"><a href="register" class="login-btn">Register</a></li>
            <li class="devider" style="visibility:visible;">&nbsp;</li>
            <li style="visibility:visible;"><a href="userCenter.html" class="login-btn" style="text-transform: none;"><img class="media-object" src="assets/img/unlogin.png" alt="" /> UserCenter</a></li>
            <li class="devider" style="visibility:visible;">&nbsp;</li>
            <li style="visibility:visible;"><a href="messages" class="login-btn">Messages</a></li>
            <li class="devider" style="visibility:visible;">&nbsp;</li>
            <li style="visibility:visible;"><a href="login.html" class="login-btn">Log out</a></li>
        </ul>
    </div>
</div><!--/top-->
<!--=== End Top ===-->

<!--=== Header ===-->
<div class="header margin-bottom-20">
    <div class="container">

        <!-- Menu -->
        <div class="navbar">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a><!-- /nav-collapse -->
                <div class="nav-collapse collapse">
                    <ul class="nav top-2">
                        <li class="active">
                            <a href="/" class="dropdown-toggle" data-toggle="dropdown">Home
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="mainpage.html" class="dropdown-toggle" data-toggle="dropdown">Daily life
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="mainpage.html" class="dropdown-toggle" data-toggle="dropdown">Entertainment
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="mainpage.html" class="dropdown-toggle" data-toggle="dropdown">Artwork
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="mainpage.html" class="dropdown-toggle" data-toggle="dropdown">Sport
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="mainpage.html" class="dropdown-toggle" data-toggle="dropdown">Social Event
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="mainpage.html" class="dropdown-toggle" data-toggle="dropdown">Fashion
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li><a class="search"><i class="icon-search search-btn"></i></a></li>
                    </ul>
                    <div class="search-open">
                        <div class="input-append">
                            <form />
                            <input type="text" class="span3" placeholder="Search" />
                            <button type="submit" class="btn-u"><a href="searchResult.html" style="color:#fff;">Go</a></button>
                            </form>
                        </div>
                    </div>
                </div><!-- /nav-collapse -->
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
    </div><!-- /container -->
</div><!--/header -->
<!--=== End Header ===-->

<!--=== Content Part ===-->
<div class="container">
    <div class="row-fluid blog-page blog-item">
        <div>
            <div class="blog margin-bottom-30">
                <div class="special-button">
                    <span class="blog-title" style="color: #72c02c;font-size: 22px; line-height: 24px; display: inline;float: left;">Do you think my photography skill is good? </span>
                    <ul class="unstyled">
                        <a class="praise" style="text-decoration:none;font-size: 16px;" href="javascript:void(0);" onclick="praiseBox(this);"><li style="list-style: none;display: inline;"><i class="icon-star"></i></li>star</a>
                    </ul>
                </div>
                <ul class="unstyled inline blog-info blog-tags" >
                    <li><a href="userCenter.html" class="login-btn" style="text-transform: none;"><img class="media-object" src="assets/img/sliders/elastislide/2.jpg" alt="" /></a>Charry</li>
                    <li><i class="icon-calendar"></i> February 02, 2013</li>
                    <li>
                        <i class="icon-tags"></i>
                        <a href="javascript:void(0);">Daily Life</a>
                        <a href="javascript:void(0);">Artork</a>
                    </li>
                </ul>

                <!-- 分隔线 -->
                <hr>

                <div class="blog_content">
                    <div class="gallery_img_pro">
                        <ul class="HTC_media_a_pro">
                            <li><a href="assets/img/posts/b1.jpg"><img src="assets/img/posts/b1.jpg" /></a></li>
                            <li><a href="assets/img/posts/b2.jpg"><img src="assets/img/posts/b2.jpg" /></a></li>
                            <li><a href="assets/img/posts/b3.jpg"><img src="assets/img/posts/b3.jpg" /></a></li>
                            <li><a href="assets/img/posts/b4.jpg"><img src="assets/img/posts/b4.jpg" /></a></li>
                        </ul>
                    </div>
                    <p class="qst-container_pro" style="font-size: 18px; margin-top: 20px;">Description</p>
                </div>

                <!-- 分隔线 -->
                <hr>

                <div class="vote_section" style="text-align: center; display: flex; flex-direction: column; align-items: center;">
                    <div class="headline"><h3 style="font-size: 24px;">Cast your vote</h3></div>
                    <div class="vote_bar" style="font-size: 18px; width: 100%; max-width: 300px; display: flex; justify-content: space-between; align-items: center;">
                        <div class="votecolumn" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
                            <div class="votecard" style="width: 100%;">
                                <div style="margin: 5px 0;">
                                    <em><strong>3</strong><span></span></em>
                                </div>
                            </div>
                            <a class="voteaction" href="javascript:void(0);">Up</a>
                        </div>
                        <div class="votecolumn2" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
                            <div class="votecard2" style="width: 100%;">
                                <div style="margin: 5px 0;">
                                    <em><strong>1</strong><span></span></em>
                                </div>
                            </div>
                            <a class="voteaction2" href="javascript:void(0);">Down</a>
                        </div>
                    </div>
                    <div class="progress" style="width: 85%; max-width: 300px; margin: 10px auto; display: flex; justify-content: center; align-items: center;">
                        <div class="bar bar-warning" style="width: 75%; background-color: #C5E1A5; height: 20px;"></div>
                        <div class="bar bar-danger" style="width: 25%; background-color: #558B2F; height: 20px;"></div>
                    </div>
                </div>
            </div><!--/blog-->
        </div><!--/span9-->
    </div>
</div>

<!-- 分隔线 -->
<hr>

<div class="vote_analysis" style="text-align: center; margin-top: 20px;">
    <h3 style="font-size: 24px;">Voting result analysis</h3>
    <p>Total votes：4</p>
    <div style="display: flex; justify-content: space-between; align-items: center; width: 85%; max-width: 300px; margin: 0 auto;">
        <div style="width: 100%;">
            <p>agree (75%)</p>
            <div class="progress" style="background-color: #C5E1A5; height: 20px;"></div>
        </div>
        <div style="width: 100%;">
            <p>disagree (25%)</p>
            <div class="progress" style="background-color: #558B2F; height: 20px;"></div>
        </div>
    </div>
    <p>analysis</p>
</div>
<!--=== End Content Part ===-->

<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row-fluid">
            <div class="span8">
                <!-- start-copyright -->
                <p>Copyright @ 2024 Voteease</p>
                <!-- end-copyrigh -->
            </div>
            <div class="span4">
                <a href="mainpage.html"><img id="logo-footer" src="assets/img/htc_logo.png" class="pull-right" alt="" /></a>
            </div>
        </div><!--/row-fluid-->
    </div><!--/container-->
</div><!--/copyright-->
<!--=== End Copyright ===-->


</body>

</html>