<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head>
    <title>VoteEase</title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style_responsive.css" />
    <link rel="stylesheet" href="/css/zoom.css" media="all" type='text/css'  /> <!--图片弹出层样式 必要样式-->
    <!--     <link rel="shortcut icon" href="favicon.ico" />      -->
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.css" />
    <link href="/plugins/glyphicons/css/glyphicons.css" rel="stylesheet" />
    <!-- CSS pie chart -->
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/postbutton.css" />
    <!-- CSS Theme -->
    <!--     <link rel="stylesheet" href="assets/css/themes/default.css" id="style_color" /> -->
    <!--     <link rel="stylesheet" href="assets/css/themes/headers/default.css" id="style_color-header-1" />   -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
<!--=== Top ===-->
<div class="top">
    <div class="container">
        <ul class="loginbar pull-right">
            <li style="visibility:visible;"><a href="login" class="login-btn">Login</a></li>
            <li class="devider" style="visibility:visible;">&nbsp;</li>
            <li style="visibility:visible;"><a href="register" class="login-btn">Register</a></li>
            <li class="devider" style="visibility:visible;">&nbsp;</li>
            <li style="visibility:visible;"><a href="userCenter.html" class="login-btn" style="text-transform: none;"><img class="media-object" src="assets/img/unlogin.png" alt="" /> UserCenter</a></li>
            <li class="devider" style="visibility:visible;">&nbsp;</li>
            <li style="visibility:visible;"><a href="messages" class="login-btn">Messages</a></li>
            <li class="devider" style="visibility:visible;">&nbsp;</li>
            <li style="visibility:visible;"><a href="login.html" class="login-btn">Log out</a></li>
        </ul>
    </div>
</div><!--/top-->
<!--=== End Top ===-->

<!--=== Header ===-->
<div class="header margin-bottom-20">
    <div class="container">

        <!-- Menu -->
        <div class="navbar">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a><!-- /nav-collapse -->
                <div class="nav-collapse collapse">
                    <ul class="nav top-2">
                        <li class="active">
                            <a href="/" class="dropdown-toggle" data-toggle="dropdown">Home
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="mainpage.html" class="dropdown-toggle" data-toggle="dropdown">Daily life
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="mainpage.html" class="dropdown-toggle" data-toggle="dropdown">Entertainment
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="mainpage.html" class="dropdown-toggle" data-toggle="dropdown">Artwork
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="mainpage.html" class="dropdown-toggle" data-toggle="dropdown">Sport
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="mainpage.html" class="dropdown-toggle" data-toggle="dropdown">Social Event
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="mainpage.html" class="dropdown-toggle" data-toggle="dropdown">Fashion
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li><a class="search"><i class="icon-search search-btn"></i></a></li>
                    </ul>
                    <div class="search-open">
                        <div class="input-append">
                            <form />
                            <input type="text" class="span3" placeholder="Search" />
                            <button type="submit" class="btn-u"><a href="searchResult.html" style="color:#fff;">Go</a></button>
                            </form>
                        </div>
                    </div>
                </div><!-- /nav-collapse -->
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
    </div><!-- /container -->
</div><!--/header -->
<!--=== End Header ===-->

<!--=== Content Part ===-->
<div id="content"></div>

<!-- 分隔线 -->
<hr>

<div class="vote_analysis" style="text-align: center; margin-top: 20px;">
    <h3 style="font-size: 24px;">Voting result analysis</h3>
    <p>Total votes：4</p>
    <div style="display: flex; justify-content: space-between; align-items: center; width: 85%; max-width: 300px; margin: 0 auto;">
        <div style="width: 100%;">
            <p>agree (75%)</p>
            <div class="progress" style="background-color: #C5E1A5; height: 20px;"></div>
        </div>
        <div style="width: 100%;">
            <p>disagree (25%)</p>
            <div class="progress" style="background-color: #558B2F; height: 20px;"></div>
        </div>
    </div>
    <p>analysis</p>
</div>
<!--=== End Content Part ===-->

<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row-fluid">
            <div class="span8">
                <!-- start-copyright -->
                <p>Copyright @ 2024 Voteease</p>
                <!-- end-copyrigh -->
            </div>
            <div class="span4">
                <a href="mainpage.html"><img id="logo-footer" src="assets/img/htc_logo.png" class="pull-right" alt="" /></a>
            </div>
        </div><!--/row-fluid-->
    </div><!--/container-->
</div><!--/copyright-->
<!--=== End Copyright ===-->

<script>
    // 从URL路径中动态获取commentId
    const pathArray = window.location.pathname.split('/');
    const commentId = pathArray[pathArray.length - 1];

    // 确保获取的是有效的数字ID
    if (!isNaN(commentId)) {
        fetchDataAndRender(commentId);
    } else {
        console.error('Invalid comment ID');
    }

    function fetchDataAndRender(id) {
        fetch(`/poll/info/${id}`)
            .then(response => response.json())
            .then(data => {
                if (data.code === 0) { // 检查API返回的状态码是否为成功
                    if (data.data.options.length <= 2) {
                        document.getElementById('content').innerHTML = renderLessThanOrTwoOptionsPage(data.data);
                    } else {
                        document.getElementById('content').innerHTML = renderMoreThanTwoOptionsPage(data.data);
                    }
                } else {
                    console.error('API returned an error:', data.msg);
                }
            })
            .catch(error => console.error('Error fetching data:', error));
    }

    function renderLessThanOrTwoOptionsPage(data) {
        return `
            <div class="container">
                <div class="row-fluid blog-page blog-item">
                    <div>
                        <div class="blog margin-bottom-30">
                            <div class="special-button">
                                <span class="blog-title" style="color: #72c02c;font-size: 22px; line-height: 24px; display: inline;float: left;">${data.poll.title}</span>
                                <ul class="unstyled">
                                    <a class="praise" style="text-decoration:none;font-size: 16px;" href="javascript:void(0);" onclick="praiseBox(this);"><li style="list-style: none;display: inline;"><i class="icon-star"></i>star</a>
                                </ul>
                            </div>
                            <ul class="unstyled inline blog-info blog-tags">
                                <li><a href="userCenter.html" class="login-btn" style="text-transform: none;"><img class="media-object" src="/static/avatar/${data.creator.avatar}">${data.poll.creatorId}</a></li>
                                <li><i class="icon-calendar"></i>${new Date(data.poll.startTime).toLocaleDateString()} ${data.poll.endTime ? `~${new Date(data.poll.endTime).toLocaleString()}` : ''}</li>
                                <li>
                                    <i class="icon-tags"></i>
                                    ${data.topics.map(topic => `<a href="#">${topic.name}</a>`).join(' ')}
                                </li>
                            </ul>
                            <hr>
                            <div class="blog_content">
                                <div class="gallery_img_pro">
                                    <ul class="HTC_media_a_pro">
                                        ${data.images.map(image => `<li><img src="/static/image/${image.path}" /></li>`).join('')}
                                    </ul>
                                </div>
                                <p class="qst-container_pro" style="font-size: 18px; margin-top: 20px;">${data.poll.description}</p>
                            </div>
                            <hr>
                            <div class="vote_section" style="text-align: center; display: flex; flex-direction: column; align-items: center;">
                                <div class="headline"><h3 style="font-size: 24px;">Cast your vote</h3></div>
                                <div class="vote_bar" style="font-size: 18px; width: 100%; max-width: 300px; display: flex; justify-content: space-between; align-items: center;">
                                    ${data.options.map(option => `
                                        <div class="votecolumn" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
                                            <div class="votecard" style="width: 100%;">
                                                <div style="margin: 5px 0; margin-left: 20px;">
                                                    <em><strong>${data.results[option.optionId] || 0}</strong></em>
                                                </div>
                                            </div>
                                            <a><img src="/img/${option.optionId === data.votes[0]?.optionId ? 'good' : 'bad'}.png" class="resized-image"/></a>
                                        </div>
                                    `).join('')}
                                </div>
                                <div class="progress" style="width: 85%; max-width: 300px; margin: 10px auto; display: flex; justify-content: center; align-items: center;">
                                    ${createProgressBars(data)}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        `;
    }

    function createProgressBars(data) {
    const totalVotes = Object.values(data.results).reduce((a, b) => a + b, 0);

    // 假设我们只处理前两个选项
    const options = data.options.slice(0, 2);

    if (options.length < 2) {
        console.warn('Not enough options to create a dual-color progress bar.');
        return '';
    }

    const option1Id = options[0].optionId;
    const option2Id = options[1].optionId;

    const votesForOption1 = data.results[option1Id] || 0;
    const votesForOption2 = data.results[option2Id] || 0;

    const percentage1 = totalVotes > 0 ? (votesForOption1 / totalVotes * 100) : 0;
    const percentage2 = totalVotes > 0 ? (votesForOption2 / totalVotes * 100) : 0;

    return `
        <div class="progress-bar" style="position: relative; width: 100%; height: 20px; background-color: #e0e0e0; border-radius: 4px; overflow: hidden;">
            <div style="background-color: #C5E1A5; width: ${percentage1}%; height: 100%; float: left; transition: width 0.3s ease-in-out;"></div>
            <div style="background-color: #558B2F; width: ${percentage2}%; height: 100%; position: absolute; top: 0; right: 0; transition: width 0.3s ease-in-out;"></div>
        </div>
    `;
}

    function renderMoreThanTwoOptionsPage(data) {
        return `
            <div class="container">
                <div class="row-fluid blog-page blog-item">
                    <div>
                        <div class="blog margin-bottom-30">
                            <div class="special-button">
                                <span class="blog-title" style="color: #72c02c;font-size: 22px; line-height: 24px; display: inline;float: left;">${data.poll.title}</span>
                                <ul class="unstyled">
                                    <a class="praise" style="text-decoration:none;font-size: 16px;" href="javascript:void(0);" onclick="praiseBox(this);"><li style="list-style: none;display: inline;"><i class="icon-star"></i>star</a>
                                </ul>
                            </div>
                            <ul class="unstyled inline blog-info blog-tags">
                                <li><a href="userCenter.html" class="login-btn" style="text-transform: none;"><img class="media-object" src="/static/avatar/${data.creator.avatar}">${data.poll.creatorId}</a></li>
                                <li><i class="icon-calendar"></i>${new Date(data.poll.startTime).toLocaleDateString()} ${data.poll.endTime ? `~${new Date(data.poll.endTime).toLocaleString()}` : ''}</li>
                                <li>
                                    <i class="icon-tags"></i>
                                    ${data.topics.map(topic => `<a href="#">${topic.name}</a>`).join(' ')}
                                </li>
                            </ul>
                            <hr>
                            <div class="blog_content">
                                <div class="gallery_img_pro">
                                    <ul class="HTC_media_a_pro">
                                        ${data.images.map(image => `<li><img src="/static/image/${image.path}" /></li>`).join('')}
                                    </ul>
                                </div>
                                <p class="qst-container_pro" style="font-size: 18px; margin-top: 20px;">${data.poll.description}</p>
                            </div>
                            <div class="vote4content">
                                ${data.options.map((option, index) => `
                                    <div class="btncontent" style="font-size: 20px;">
                                        <span class="vote${index + 1}btn">${String.fromCharCode(65 + index)}</span> ${option.description}
                                    </div>
                                `).join('')}
                                <div style="text-align: left; margin-top: 10px;">
                                    <button type="submit" class="submitbtn" style="font-size: 20px;">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        `;
    }
</script>

</body>

</html>