
<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<link href="/css/login.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- JS: load the page without delay -->
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		
</head>
 
<body>
	<div class="register">	
				 <!-- start-main -->
				 <form>
		                    <div class="clear"> </div>
		                    <div class="lable-2">
		                    <h3 style="padding-bottom: 0px;">Account:</h3>
		                    <input type="text" class="text" id="email" value="your@email.com " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'your@email.com ';}">
		                    <h3 style="padding-bottom: 0px;">Password:</h3>
		                     <input type="password" class="text" id="password" value="Password " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password ';}">
							<!-- <input type="vcode" class="text" id="vcode" value="Verification code" onfocus="this.value=''" onblur="if(this.value==''){this.value='Verification code';}" style="width:65%;"/><div class="captcha1" style=" height:40px;cursor: pointer;background: none;float: left;padding: 14px;"/></div> -->
							<div class="clear"> </div>
							</div>
							<br/>
							<div class="clear"> </div>
							<div class="submit" style="margin-left:0.3%; margin-right: -10px;">
								<input type="submit" value="Log in" >
							</div>
							<div class="clear"> </div>
							<h3 style="color:#EF514B; ">error message<h3>
							<h3 style="margin-top: -10px; ">New to How To Chooose? <span><a href="/register" style="color:#F2CA68; margin-left: 2%;">Create account</a> <span><span><a href="/forgetpw" style="margin-left: 25%;">Forget password?</a> <span></h3>
					</form>
		<!-- end-main -->
		</div>
		 <!-- start-copyright -->
   					<div class="copy-right" style="margin-top: 20px;">
						<p>Copyright @ 2024 the Poll-web system. All Rights Reserved.</p> 
					</div>
				<!-- end-copyrigh -->
	 
</body>
</html>