<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>VoteEase</title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style_responsive.css" />
    <link rel="stylesheet" href="/css/zoom.css" media="all" type='text/css'  /> <!--图片弹出层样式 必要样式-->
    <!--     <link rel="shortcut icon" href="favicon.ico" />      -->
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.css" />
    <link href="/plugins/glyphicons/css/glyphicons.css" rel="stylesheet" />
    <!-- CSS pie chart -->
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/postbutton.css" />
    <!-- CSS Theme -->
    <!--     <link rel="stylesheet" href="assets/css/themes/default.css" id="style_color" /> -->
    <!--     <link rel="stylesheet" href="assets/css/themes/headers/default.css" id="style_color-header-1" />   -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
<!--=== Top ===-->
<div class="top">
    <div class="container">
        <ul class="loginbar pull-right">
            <li style="visibility:visible;"><a href="login.html" class="login-btn">Login</a></li>
            <li class="devider" style="visibility:visible;">&nbsp;</li>
            <li style="visibility:visible;"><a href="register.html" class="login-btn">Register</a></li>
            <li class="devider" style="visibility:visible;">&nbsp;</li>
            <li style="visibility:visible;"><a href="userCenter.html" class="login-btn" style="text-transform: none;"><img class="media-object" src="assets/img/unlogin.png" alt="" /> UserCenter</a></li>
            <li class="devider" style="visibility:visible;">&nbsp;</li>
            <li style="visibility:visible;"><a href="messages.html" class="login-btn">Messages</a></li>
            <li class="devider" style="visibility:visible;">&nbsp;</li>
            <li style="visibility:visible;"><a href="login.html" class="login-btn">Log out</a></li>
        </ul>
    </div>
</div><!--/top-->
<!--=== End Top ===-->

<!--=== Header ===-->
<div class="header margin-bottom-20">
    <div class="container">

        <!-- Menu -->
        <div class="navbar">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a><!-- /nav-collapse -->
                <div class="nav-collapse collapse">
                    <ul class="nav top-2">
                        <li class="active">
                            <a href="mainpage.html" class="dropdown-toggle" data-toggle="dropdown">Home
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="mainpage.html" class="dropdown-toggle" data-toggle="dropdown">Daily life
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="mainpage.html" class="dropdown-toggle" data-toggle="dropdown">Entertainment
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="mainpage.html" class="dropdown-toggle" data-toggle="dropdown">Artwork
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="mainpage.html" class="dropdown-toggle" data-toggle="dropdown">Sport
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="mainpage.html" class="dropdown-toggle" data-toggle="dropdown">Social Event
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li>
                            <a href="mainpage.html" class="dropdown-toggle" data-toggle="dropdown">Fashion
                            </a>
                            <b class="caret-out"></b>
                        </li>
                        <li><a class="search"><i class="icon-search search-btn"></i></a></li>
                    </ul>
                    <div class="search-open">
                        <div class="input-append">
                            <form />
                            <input type="text" class="span3" placeholder="Search" />
                            <button type="submit" class="btn-u"><a href="searchResult.html" style="color:#fff;">Go</a></button>
                            </form>
                        </div>
                    </div>
                </div><!-- /nav-collapse -->
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
    </div><!-- /container -->
</div><!--/header -->
<!--=== End Header ===-->

<!--=== Content Part ===-->

<div class="container">
    <div class="row-fluid blog-page">
        <!-- Left Sidebar -->
        <div class="span3">
            <!-- Posts -->
            <div class="posts margin-bottom-20">

                <div class="headline"><h3>Messages</h3></div>
                <dl class="dl-horizontal">
                    <dt><a href="commentPage.html"><img src="assets/img/sliders/elastislide/6.jpg" alt="" /></a></dt>
                    <dd>
                        <p class="sidebar-contianer"><a href="commentPage.html">User1</a></p>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><a href="commentPage2.html"><img src="assets/img/sliders/elastislide/10.jpg" alt="" /></a></dt>
                    <dd>
                        <p class="sidebar-contianer"><a href="commentPage2.html">User2</a></p>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><a href="commentPage.html"><img src="assets/img/sliders/elastislide/11.jpg" alt="" /></a></dt>
                    <dd>
                        <p class="sidebar-contianer"><a href="commentPage.html">User3</a></p>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><a href="commentPage.html"><img src="assets/img/sliders/elastislide/6.jpg" alt="" /></a></dt>
                    <dd>
                        <p class="sidebar-contianer"><a href="commentPage.html">User4 </a></p>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><a href="commentPage2.html"><img src="assets/img/sliders/elastislide/10.jpg" alt="" /></a></dt>
                    <dd>
                        <p class="sidebar-contianer"><a href="commentPage2.html">User5</a></p>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt><a href="commentPage2.html"><img src="assets/img/sliders/elastislide/11.jpg" alt="" /></a></dt>
                    <dd>
                        <p class="sidebar-contianer"><a href="commentPage2.html">User6</a></p>
                    </dd>
                </dl>
            </div><!--/posts-->
        </div><!--/span3-->

        <!-- Right Sidebar -->
        <div class="span7">
            <span class="blog-title" style="color: #72c02c;font-size: 22px; line-height: 24px; display: inline;float: left;">User Name </span>
            <div class="chat-container">
                <div class="messages" id="messages">
                    <!-- 消息会在这里动态添加 -->
                </div>
                <div class="input-area">
                    <input type="text" id="chatInput" placeholder="Type a message...">
                    <button onclick="sendMessage()">Send</button>
                </div>
        </div>
    </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->

<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row-fluid">
            <div class="span8">
                <!-- start-copyright -->
                <p>Copyright @ 2024 VoteEase</p>
                <!-- end-copyrigh -->
            </div>
        </div><!--/row-fluid-->
    </div><!--/container-->
</div><!--/copyright-->
<!--=== End Copyright ===-->

</div>>


</body>
</html>