<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Post polls</title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/header1.css" />
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/css/style_responsive.css" />
    <!--     <link rel="shortcut icon" href="favicon.ico" />    -->
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/css/postform.css">
    <script src="/js/axios.min.js"></script>
    <script src="/js/api.js"></script>
    <!-- CSS Theme -->
    <!--     <link rel="stylesheet" href="assets/css/themes/default.css" id="style_color" />
        <link rel="stylesheet" href="assets/css/themes/headers/default.css" id="style_color-header-1" />     -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
<!--=== Top ===-->
<div class="top">
    <div id="status" class="container">
        <!-- Unauthenticated state -->
        <div id="unauthenticated" style="display: block;">
            <ul class="loginbar pull-right">
                <li><a href="/login" class="login-btn">Login</a></li>
                <li class="divider">&nbsp;</li>
                <li><a href="/register" class="login-btn">Register</a></li>
            </ul>
        </div>
        <!-- Authenticated state -->
        <div id="authenticated" style="display: none;">
            <ul class="loginbar pull-right">
                <li><a href="userCenter.html" class="login-btn" style="text-transform: none;">UserCenter</a></li>
                <li class="divider">&nbsp;</li>
                <li><a href="/messages" class="login-btn">Messages</a></li>
                <li class="divider">&nbsp;</li>
                <li><a href="#" id="logout-link" class="login-btn">Log out</a></li>
            </ul>
        </div>
    </div>
</div><!--/top-->
<!--=== End Top ===-->


<!--=== Header ===-->
<div class="header margin-bottom-20">
    <div class="container">

        <!-- Menu -->
        <div class="navbar">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse collapse" id="dynamic-nav">
                    <ul class="nav top-2" id="nav-links">
                        <!-- Home link will be inserted here dynamically -->
                    </ul>
                    <div class="search-open">
                        <div class="input-append">
                            <form action="searchResult.html" method="get">
                                <input type="text" class="span3" placeholder="Search" name="query"/>
                                <button type="submit" class="btn-u">Go</button>
                            </form>
                        </div>
                    </div>
                </div><!-- /nav-collapse -->
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
    </div><!-- /container -->
</div><!--/header -->
<!--=== End Header ===-->

<!--=== Content Part ===-->
<div class="container">
    <div class="row-fluid">
        <!--  Default, Search and Inline forms -->

        <div class="row-fluid margin-bottom-20">
            <!-- Default Styles -->
            <div class="span7 postPage" style="margin-top:10px;">
                <div class="headline"><h3>Post your question</h3></div>
                <div class="wrapper" style="height:800px;">
                    <ul class="steps">
                        <li class="is-active">Step 1</li>
                        <li>Step 2</li>
                        <li>Step 3</li>
                    </ul>
                    <form id="pollForm" enctype="multipart/form-data" class="form-wrapper">
                        <fieldset class="section is-active">
                            <label>Title</label>
                            <input type="text" name="title" id="qstTitle" placeholder="Title">
                            <label for="qstTopic">Select Topics (Ctrl or Command + Click to select multiple):</label>
                            <select multiple id="qstTopic" size="6"> <!-- 添加size属性来显示多个选项 -->
                                <option value="1">Daily Life</option>
                                <option value="2">Entertainment</option>
                                <option value="3">Artwork</option>
                                <option value="4">Sport</option>
                                <option value="5">Social Event</option>
                                <option value="6">Fashion</option>
                            </select> <br/>
                            <label for="allowAnonymous">Allow Anonymous</label>
                            <div class="row cf">
                                <div class="four col">
                                    <input type="checkbox" name="allowAnonymous" id="allowAnonymous" checked>
                                </div>
                            </div>
                            <label>Vote Type</label>
                            <div class="row cf" id="chooseType">
                                <div class="four col">
                                    <input type="radio" name="voteType" id="voteType1" checked>
                                    <label for="voteType1" >
                                        <h4>Up or Down</h4>
                                    </label>
                                </div>
                                <div class="four col">
                                    <input type="radio" name="voteType" id="voteType2">
                                    <label for="voteType2">
                                        <h4>Multiple Choices</h4>
                                    </label>
                                </div>
                            </div>
                            <label>End Time (Optional)</label>
                            <input type="datetime-local" name="endTime" id="endTime" placeholder="Choose an end time">
                            <div class="buttonNe">Next</div>
                        </fieldset>
                        <fieldset class="section">
                            <label>Number of choices</label>
                            <label class="radio inline">
                                <input type="radio" name="optionsRadios" class="choiceRadios" id="choiceRadios2" value="2" checked>2
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="optionsRadios" class="choiceRadios" id="choiceRadios3" value="3">3
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="optionsRadios" class="choiceRadios" id="choiceRadios4" value="4">4
                            </label>
                            <label>Detail of choices</label>
                            <div id="detailContent">
                                <input type="text" name="choiceDetail" id="chcDetail1" placeholder="A">
                                <input type="text" name="choiceDetail" id="chcDetail2" placeholder="B">
                            </div>
                            <label>Describe your question:</label>
                            <textarea class="span10 border-radius-none" id="describeQst" rows="4"></textarea>
                            <label>You can upload at most 4 images:</label>
                            <!--    照片添加    -->
                            <div class="photoUpload">
                                <div class="z_photo z_photo1">
                                    <div class="z_file1 z_file " style="background: url(/img/z_add.png) no-repeat; background-size: auto 100%;">
                                        <input type="file" name="file" id="file1" value="" accept="image/*" onchange="imgChange('z_photo1','z_file1','file1');" />
                                        <!-- multiple onchange="imgChange('z_photo','z_file');" -->
                                    </div>
                                </div>
                                <div class="z_photo z_photo2">
                                    <div class="z_file z_file2" style="background: url(/img/z_add.png) no-repeat;background-size: auto 100%;">
                                        <input type="file" name="file" id="file2" value="" accept="image/*" onchange="imgChange('z_photo2','z_file2','file2');" />
                                    </div>
                                </div>
                                <div class="z_photo z_photo3">
                                    <div class="z_file z_file3" style="background: url(/img/z_add.png) no-repeat;background-size: auto 100%;">
                                        <input type="file" name="file" id="file3" value="" accept="image/*" onchange="imgChange('z_photo3','z_file3','file3');" />
                                    </div>
                                </div>
                                <div class="z_photo z_photo4">
                                    <div class="z_file z_file4" style="background: url(/img/z_add.png) no-repeat;background-size: auto 100%;">
                                        <input type="file" name="file" id="file4" value="" accept="image/*" onchange="imgChange('z_photo4','z_file4','file4');"/>
                                    </div>
                                </div>
                            </div>

                            <!--遮罩层-->
                            <div class="z_mask">
                                <!--弹出框-->
                                <div class="z_alert">
                                    <p>Sure to delete? </p>
                                    <p>
                                        <span class="z_cancel">Cancel</span>
                                        <span class="z_sure">Sure</span>
                                    </p>
                                </div>
                            </div>
                            <div class="buttonPre" style="bottom: -35px;">Previous</div>
                            <div class="buttonNe2" style="bottom: -35px;" type="button" onclick="submitForm()">Post</div>
                        </fieldset>
                        <fieldset class="section" style="height:400px;">
                            <h3>Question Created!</h3>
                            <p>Your question has now been posted.</p>
                            <div class="buttonFinish" id="goToCommentPageButton">Go to question</div> <!-- 跳转到对应的问题页面 -->
                        </fieldset>
                    </form><div id="response"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row-fluid">
            <div class="span8">
                <!-- start-copyright -->
                <p>Copyright @ 2024 Online Polling System. All Rights Reserved.</p>
                <!-- end-copyrigh -->
            </div>
        </div><!--/row-fluid-->
    </div><!--/container-->
</div><!--/copyright-->
<!--=== End Copyright ===-->

<script type="module">
    // Function to check if the user is logged in based on the presence of an auth token.
    function isLoggedIn() {
        const token = localStorage.getItem('authToken');
        console.log('Checking login status:', !!token, 'Token:', token);
        return !!token && token.trim(); // Ensure the token is not just whitespace
    }

function toggleAuthState() {
    console.log('Toggling authentication state...');
    const unauthenticatedDiv = document.getElementById('unauthenticated');
    const authenticatedDiv = document.getElementById('authenticated');

    if (isLoggedIn()) {
        console.log('User is logged in.');
        unauthenticatedDiv.style.display = 'none';
        authenticatedDiv.style.display = 'block';

        // Fetch user information and update the DOM elements accordingly.
        instance.get('/user/check')
            .then(response => {
                console.log('User info:', response.data);
                const userData = response.data.data;

                // Update the User Center link with the username.
                const userCenterLink = document.querySelector('#authenticated ul li a[href="userCenter.html"]');
                if (userCenterLink) {
                    userCenterLink.href = `/userCenter/${userData.username}`;
                    userCenterLink.textContent = `UserCenter`;
                }

                // Update the avatar image source if available.
                const avatarImg = document.querySelector('#authenticated img.media-object');
                if (avatarImg && userData.avatar) {
                    avatarImg.src = userData.avatar;
                }

                // Add Manager button if user is an admin.
                if (userData.isAdmin) {
                    const managerLi = document.createElement('li');
                    managerLi.style.marginRight = '20px'; // Adjust the value as needed
                    managerLi.innerHTML = `<a href="/manager" class="login-btn">Manager</a>`;
                    const userCenterLinkLi = document.querySelector('#authenticated ul li a[href^="/userCenter"]').parentElement;
                    if (userCenterLinkLi) {
                        userCenterLinkLi.parentElement.insertBefore(managerLi, userCenterLinkLi);
                    }
                }

                // Fetch unread messages count and conditionally display it next to Messages link.
                return instance.get('/message/unread'); // Chain this promise
            })
            .then(response => {
                const unreadCount = response.data.data || 0; // Ensure we have a number or default to 0

                // Select the Messages link element.
                const messagesLink = document.querySelector('#authenticated ul li a[href="/messages"]');

                // Remove any existing unread message badge before adding a new one.
                const existingBadge = messagesLink.querySelector('.unread-badge');
                if (existingBadge) {
                    existingBadge.remove();
                }

                // Only add the badge if there are unread messages.
                if (unreadCount > 0) {
                    // Create a span for the badge and set its content.
                    const unreadBadge = document.createElement('span');
                    unreadBadge.className = 'unread-badge';
                    unreadBadge.textContent = ` ${unreadCount}`;

                    // Insert the badge after the Messages link text.
                    messagesLink.appendChild(unreadBadge);

                    // Optionally style the badge using CSS classes or inline styles.
                }
            })
            .catch(error => {
                console.error('Error checking user info or fetching unread messages count:', error);
            });
    } else {
        console.log('User is not logged in.');
        unauthenticatedDiv.style.display = 'block';
        authenticatedDiv.style.display = 'none';

        // Remove Manager button if it exists when user logs out.
        const managerButton = document.querySelector('#authenticated ul li a[href="/manager"]');
        if (managerButton) {
            managerButton.parentElement.remove();
        }

        // Clear any unread message badge when the user is not logged in.
        const messagesLink = document.querySelector('#authenticated ul li a[href="/messages"]');
        if (messagesLink) {
            const existingBadge = messagesLink.querySelector('.unread-badge');
            if (existingBadge) {
                existingBadge.remove();
            }
        }
    }
}

    // Function to handle logout process.
    async function logout(event) {
        event.preventDefault(); // Prevent default link behavior.

        try {
            // Optionally, you can make a request to your server to invalidate the token.
            // await instance.post('/user/logout'); // Uncomment this line if needed.

            // Remove the token from local storage.
            localStorage.removeItem('authToken');
            console.log('User logged out.');

            // Toggle the authentication state display.
            toggleAuthState();

            // Optionally, you can redirect to a different page or refresh the current one.
            // window.location.reload(); // Uncomment this line if you want to reload the page.
        } catch (error) {
            console.error('Error during logout:', error);
        }
    }

    // Existing login function with added call to toggleAuthState upon successful login.
    async function login(event) {
        event.preventDefault(); // Prevent form's default submit behavior.

        try {
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            await instance.post('/user/login', {
                email: email,
                password: password
            }).then(response => {
                if (response.data.code == 0) {
                    alert("success");
                    const token = response.data.data;
                    if (token) {
                        localStorage.setItem('authToken', token);
                        console.log('Token stored successfully:', token);

                        // Debugging: Check if token is being sent in headers
                        console.log('Authorization header:', { authorization: `Bearer ${token}` });

                        toggleAuthState(); // Update nav links after successful login.
                    } else {
                        console.warn('No token received from the server.');
                    }
                } else {
                    throw new Error('Login failed with code: ' + response.data.msg);
                }
            }).catch(error => {
                alert("error");
            });

        } catch (error) {
            console.error('Error during login:', error);
        }
    }

    // Add event listener for logout link
    document.addEventListener('DOMContentLoaded', () => {
        const logoutLink = document.getElementById('logout-link');
        if (logoutLink) {
            logoutLink.addEventListener('click', logout);
        }

        // Initialize the authentication state when the DOM is fully loaded.
        console.log('DOM fully loaded, initializing authentication state...');
        toggleAuthState();
    });

    // Listen for form submission.
    document.addEventListener('DOMContentLoaded', () => {
        const loginForm = document.getElementById('loginForm');
        if (loginForm) {
            loginForm.addEventListener('submit', login);
        }
    });

    // Prevent double submission on "Log in" button click.
    document.addEventListener('DOMContentLoaded', () => {
        const submitButton = document.querySelector('.submit');
        if (submitButton) {
            submitButton.addEventListener('click', function(event) {
                login(event); // Call login function and pass event object.
            });
        }
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Create the Home link and add it to the navigation bar
        const navLinks = document.getElementById('nav-links');
        const homeLi = document.createElement('li');
        const homeA = document.createElement('a');
        homeA.href = '/'; // URL for the home page
        homeA.textContent = 'Home';
        homeLi.appendChild(homeA);
        navLinks.appendChild(homeLi);

        fetch('/topic/all')
            .then(response => response.json())
            .then(data => {
                if (data.code === 0 && Array.isArray(data.data)) {
                    data.data.forEach(topic => {
                        const li = document.createElement('li');
                        const a = document.createElement('a');
                        a.href = `/topic/${topic.topicId}`; // New URL format using topicId
                        a.textContent = topic.name;
                        a.className = 'dropdown-toggle';
                        a.setAttribute('data-toggle', 'dropdown');
                        li.appendChild(a);
                        li.innerHTML += '<b class="caret-out"></b>';
                        navLinks.appendChild(li);
                    });

                    // After all topics are added, append the new <li> element
                    const searchLi = document.createElement('li');
                    searchLi.innerHTML = `<a class="search" href="/searchResult"><i class="icon-search search-btn"></i></a>`;
                    navLinks.appendChild(searchLi);
                }
            })
            .catch(error => console.error('Error fetching topics:', error));
    });
</script>


<!-- JS Global Compulsory -->
<script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
<!-- <script type="text/javascript" src="assets/js/modernizr.custom.js"></script>   -->
<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/plugins/back-to-top.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/jquery.upload.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
    $('.js-img-up').uploadPreview({ Img: ".js-img-show", Width: 94, Height: 94 ,Callback:function(){
        }});

</script>

<script type="text/javascript">
    function noNull1(){
        if((document.getElementById('qstTitle').value=="")|| !($("#qstTopic option").is(":selected"))){
            alert("Title cannot be empty and type of question must be selected !");
            return false;
        }else{
            return true;
        }
    }
    function noNullDecImg(){
        if(($("#descripbeQst").val()=="")&&($(".z_addImg").length==0)){
            alert("You must describe your question by text or image !");
            return false;
        }else{
            return true;
        }
    }
    function noNullChoices(){
        var selectedvalue = $("input[name='optionsRadios']:checked").val();
        if(isUporDown()){
            return true;
        }
        if(selectedvalue=="2"){
            if(($("#chcDetail1").val()!="")&&($("#chcDetail2").val()!="")){
                return true;
            }
        }else if(selectedvalue=="3"){
            if(($("#chcDetail1").val()!="")&&($("#chcDetail2").val()!="")&&($("#chcDetail3").val()!="")){
                return true;
            }
        }else{
            if(($("#chcDetail1").val()!="")&&($("#chcDetail2").val()!="")&&($("#chcDetail3").val()!="")&&($("#chcDetail4").val()!="")){
                return true;
            }
        }
        alert("Each choice cannot be empty !")
        return false;
    }
    function isUporDown(){
        if($("#voteType1").attr("checked")=="checked"){
            return true;
        }else{
            return false;
        }
    }

    $(document).ready(function(){
        $(".form-wrapper .buttonNe").click(function(){
            var button = $(this);
            var currentSection = button.parents(".section");
            var currentSectionIndex = currentSection.index();
            var headerSection = $('.steps li').eq(currentSectionIndex);
            if(noNull1()){
                if(isUporDown()){
                    $("#multiContent").css("display","none");
                }else{
                    $("#multiContent").css("display","block");
                }
                currentSection.removeClass("is-active").next().addClass("is-active");
                headerSection.removeClass("is-active").next().addClass("is-active");
                // $(".form-wrapper").submit(function(e) {
                //   e.preventDefault();
                // });

                if(currentSectionIndex === 2){
                    $(document).find(".form-wrapper .section").first().addClass("is-active");
                    $(document).find(".steps li").first().addClass("is-active");
                }
            }
        });

        $(".form-wrapper .buttonNe2").click(function(){
            var button = $(this);
            var currentSection = button.parents(".section");
            var currentSectionIndex = currentSection.index();
            var headerSection = $('.steps li').eq(currentSectionIndex);
            if(noNullDecImg()&&noNullChoices()){
                currentSection.removeClass("is-active").next().addClass("is-active");
                headerSection.removeClass("is-active").next().addClass("is-active");
                // $(".form-wrapper").submit(function(e) {
                //   e.preventDefault();
                // });

                if(currentSectionIndex === 3){
                    $(document).find(".form-wrapper .section").first().addClass("is-active");
                    $(document).find(".steps li").first().addClass("is-active");
                }
            }
        });

        $(".choiceRadios").change(function(){
            var selectedvalue = $("input[name='optionsRadios']:checked").val();
            if(selectedvalue=="2"){
                var htmltext='<input type="text" name="choiceDetail" id="chcDetail1" placeholder="A"><input type="text" name="choiceDetail" id="chcDetail2" placeholder="B">';
                $("#detailContent").html(htmltext);
            }else if(selectedvalue=="3"){
                var htmltext='<input type="text" name="choiceDetail" id="chcDetail1" placeholder="A"><input type="text" name="choiceDetail" id="chcDetail2" placeholder="B"><input type="text" name="choiceDetail" id="chcDetail3" placeholder="C">';
                $("#detailContent").html(htmltext);
            }else{
                var htmltext='<input type="text" name="choiceDetail" id="chcDetail1" placeholder="A"><input type="text" name="choiceDetail" id="chcDetail2" placeholder="B"><input type="text" name="choiceDetail" id="chcDetail3" placeholder="C"><input type="text" name="choiceDetail" id="chcDetail4" placeholder="D">';
                $("#detailContent").html(htmltext);
            }
        });

        $(".form-wrapper .buttonPre").click(function(){
            var button = $(this);
            var currentSection = button.parents(".section");
            var currentSectionIndex = currentSection.index();
            var headerSection = $('.steps li').eq(currentSectionIndex);
            currentSection.removeClass("is-active").prev().addClass("is-active");
            headerSection.removeClass("is-active").prev().addClass("is-active");

            // $(".form-wrapper").submit(function(e) {
            //   e.preventDefault();
            // });

            if(currentSectionIndex === 3){
                $(document).find(".form-wrapper .section").first().addClass("is-active");
                $(document).find(".steps li").first().addClass("is-active");
            }
        });
    });

</script>
<script type="text/javascript">
    //px转换为rem
    (function(doc, win) {
        var docEl = doc.documentElement,
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function() {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                if (clientWidth >= 640) {
                    docEl.style.fontSize = '100px';
                } else {
                    docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                }
            };

        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);

    function imgChange(obj1, obj2,obj3) {
        //获取点击的文本框
        var file = document.getElementById(obj3);
        //存放图片的父级元素
        var imgContainer = document.getElementsByClassName(obj1)[0];
        //获取的图片文件
        var fileList = file.files;
        var fileNum = fileList.length;
        var nowNum = document.getElementsByClassName("z_addImg").length;
        var leastNum = (4-nowNum);
        //文本框的父级元素
        var input = document.getElementsByClassName(obj2)[0];
        var imgArr = [];
        //遍历获取到得图片文件
        if(fileNum<=leastNum){
            for (var i = 0; i < fileNum; i++) {
                var imgUrl = window.URL.createObjectURL(file.files[i]);
                imgArr.push(imgUrl);
                var img = document.createElement("img");
                img.setAttribute("src", imgArr[i]);
                var imgAdd = document.createElement("div");
                imgAdd.setAttribute("class", "z_addImg");
                imgAdd.appendChild(img);
                imgContainer.appendChild(imgAdd);
            };
            // if((nowNum+fileNum)==4){
            // $(".imginput").css("display","none");
            var obj2path = "."+obj2;
            $(obj2path).css("display","none");
            // }
        }else{
            alert("Maximum number of image is 4");
        }
        imgRemove(obj2path);
    };



    function imgRemove(obj2path) {
        var imgList = document.getElementsByClassName("z_addImg");
        var mask = document.getElementsByClassName("z_mask")[0];
        var cancel = document.getElementsByClassName("z_cancel")[0];
        var sure = document.getElementsByClassName("z_sure")[0];
        for (var j = 0; j < imgList.length; j++) {
            imgList[j].index = j;
            imgList[j].onclick = function() {
                var t = this;
                mask.style.display = "block";
                cancel.onclick = function() {
                    mask.style.display = "none";
                };
                sure.onclick = function() {
                    mask.style.display = "none";
                    // t.style.display = "none";
                    t.remove();
                    var nowNum = document.getElementsByClassName("z_addImg").length;
                    if(nowNum<4){
                        $(obj2path).css("display","block");
                    }
                };

            }
        };
    };

</script>

<script>
    function submitForm(event) {
        const formData = new FormData();

        // 构建Poll对象
        const poll = {
            type: !document.getElementById('voteType1').checked,
            title: document.getElementById('qstTitle').value,
            description: document.getElementById('describeQst').value
        };
        const endTimeValue = document.getElementById('endTime').value;
        const allowAnonymousChecked = document.getElementById('allowAnonymous').checked;
        if (endTimeValue) {
            poll.endTime = endTimeValue;
        }
        if (!allowAnonymousChecked) { // 这里假设默认值是true，如果默认值是false，请根据实际情况调整
            poll.allowAnonymous = allowAnonymousChecked;
        }

        // 构建Options数组
        const options = [];
        $('input[name^="choiceDetail"]').each(function(index) {
            const description = this.value.trim(); // 使用trim()移除可能的空白字符
            if (description) { // 检查description是否非空
                options.push({
                    description: description,
                    order: index + 1 // 选项的顺序从1开始
                });
            }
        });

        // 构建Topics数组
        const selectedTopics = document.getElementById('qstTopic').selectedOptions;
        const topics = Array.from(selectedTopics).map(option => ({ topicId: option.value }));

        // 将Poll, Options, Topics转换为JSON字符串并添加到formData
        formData.append('poll', JSON.stringify(poll));
        formData.append('options', JSON.stringify(options));
        formData.append('topics', JSON.stringify(topics));

        // 添加文件到formData
        let files = [];
        for (var i = 1; i <= 4; i++) {
            var fileInputId = 'file' + i;
            var fileInput = document.getElementById(fileInputId);

            // 如果有文件被选中，则将FileList对象中的文件添加到数组中
            if (fileInput.files.length > 0) {
                // FileList is array-like, so we use Array.from to convert it into a real Array
                files.push(...Array.from(fileInput.files));
            }
        }
        files.forEach((file, index) => {
            formData.append('files', file); // 'files' 应与后端 @RequestParam 中的名字匹配
        });

        // 使用Axios实例发送请求
        instance.post('/poll/add', formData, {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        })
            .then(response => {
                if (response.data.code === 0) {
                    document.getElementById('goToCommentPageButton').onclick = function() {
                        window.location.href = `/commentpage/${response.data.data}`;
                    };
                    document.getElementById('response').innerText = JSON.stringify(response.data, null, 2);
                } else {
                    document.getElementById('response').innerText = JSON.stringify(response.data, null, 2);
                }
            })
            .catch(error => {
                document.getElementById('response').innerText = `Error: ${error.message}`;
            });
    }
</script>
<!--[if lt IE 9]>
<script src="/js/respond.js"></script>

<![endif]-->

</body>
</html> 
