<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>User Profile | Welcome...</title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style_responsive.css" />
    <link rel="stylesheet" href="/css/zoom.css" media="all" type='text/css' /> <!--图片弹出层样式 必要样式-->
    <!--     <link rel="shortcut icon" href="favicon.ico" />      -->
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.css" />
    <link href="/plugins/glyphicons/css/glyphicons.css" rel="stylesheet" />
    <!-- CSS pie chart -->
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/postbutton.css" />
    <!-- CSS Theme -->
    <!--     <link rel="stylesheet" href="assets/css/themes/default.css" id="style_color" /> -->
    <!--     <link rel="stylesheet" href="assets/css/themes/headers/default.css" id="style_color-header-1" />   -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- 引入 axios 和 api.js -->
    <script src="/js/axios.min.js"></script>
    <script src="/js/api.js"></script>
</head>

<body>
<!--=== Top ===-->
<div class="top">
    <div id="status" class="container">
        <!-- Unauthenticated state -->
        <div id="unauthenticated" style="display: block;">
            <ul class="loginbar pull-right">
                <li><a href="/login" class="login-btn">Login</a></li>
                <li class="divider">&nbsp;</li>
                <li><a href="/register" class="login-btn">Register</a></li>
            </ul>
        </div>
        <!-- Authenticated state -->
        <div id="authenticated" style="display: none;">
            <ul class="loginbar pull-right">
                <li><a href="userCenter.html" class="login-btn" style="text-transform: none;">UserCenter</a></li>
                <li class="divider">&nbsp;</li>
                <li><a href="/messages" class="login-btn">Messages</a></li>
                <li class="divider">&nbsp;</li>
                <li><a href="#" id="logout-link" class="login-btn">Log out</a></li>
            </ul>
        </div>
    </div>
</div><!--/top-->
<!--=== End Top ===-->


<!--=== Header ===-->
<div class="header margin-bottom-20">
    <div class="container">

        <!-- Menu -->
        <div class="navbar">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse collapse" id="dynamic-nav">
                    <ul class="nav top-2" id="nav-links">
                        <!-- Home link will be inserted here dynamically -->
                    </ul>
                    <div class="search-open">
                        <div class="input-append">
                            <form action="searchResult.html" method="get">
                                <input type="text" class="span3" placeholder="Search" name="query"/>
                                <button type="submit" class="btn-u">Go</button>
                            </form>
                        </div>
                    </div>
                </div><!-- /nav-collapse -->
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
    </div><!-- /container -->
</div><!--/header -->
<!--=== End Header ===-->

<!-- Purchase Block -->
<div class="row-fluid margin-bottom-20">
    <div class="container">
        <div class="span1" style="height:10px;"></div>
        <div class="span10" style="border:solid 1px #e5e5e5;">
            <div class="basic-info-banner" style="background-image: url('assets/img/sliders/revolution/bg4.jpg');"></div>
            <div class="basic-info">
                <div class="basic-info-img">
                    <div class="basic-info-img-inner" id="bannerImageContainer">
                        <!-- Banner image will be loaded here -->
                        <img id="purchaseProfilePicture" src="" alt="Profile Picture" width="100" height="100" style="border-radius: 50%; display:none;">
                    </div>
                </div>
                <div class="basic-info-content">
                    <div class="basic-info-contentHead" id="userNameDisplay">Loading...</div>
                    <div class="basic-info-description" id="userDescriptionDisplay">Loading...</div>
                    <div class="basic-info-buttons" id="actionButtons">
                        <button class="btn btn-primary" id="followButton">Follow</button>
                        <button class="btn btn-success" id="messageButton">Message</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/row-fluid-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="container">
    <div class="row-fluid">
        <!-- Left Sidebar(Content Part) -->
        <div class="span1" style="height:10px;"></div>
        <div class="span10">

            <!-- Tabs -->
            <ul class="nav nav-tabs tabs" id="tabs">
                <li class="active"><a href="#post" data-toggle="tab">Post</a></li>
                <li><a href="#star" data-toggle="tab">Star</a></li>
                <li><a href="#myvoted" data-toggle="tab">My Voted</a></li>
                <li><a href="#follow" data-toggle="tab">Follow</a></li>
                <li><a href="#befollowed" data-toggle="tab">Be Followed</a></li>
                <li id="informationTab"><a href="#information" data-toggle="tab">Information</a></li>
                <li id="securityTab"><a href="#security" data-toggle="tab">Security</a></li>
            </ul><!--/tabs-->

            <div class="tab-content margin-bottom-20">
                <div class="tab-pane active" id="post">
                    <div class="headline"><h4>My posted questions</h4></div>
                    <div id="postsContainer">
                        <!-- Posts will be loaded here -->
                    </div>
                </div>
                <div class="tab-pane" id="star">
                    <div class="headline"><h4>My collection</h4></div>
                    <div id="starsContainer">
                        <!-- Stars will be loaded here -->
                    </div>
                </div>
                <div class="tab-pane" id="myvoted">
                    <div class="headline"><h4>My Voted</h4></div>
                    <div id="myVotedContainer">
                        <!-- My Voted will be loaded here -->
                    </div>
                </div>
                <div class="tab-pane" id="follow">
                    <div class="headline"><h4>My followed users</h4></div>
                    <div id="followContainer">
                        <!-- Follows will be loaded here -->
                    </div>
                </div>
                <div class="tab-pane" id="befollowed">
                    <div class="headline"><h4>Users following me</h4></div>
                    <div id="beFollowedContainer">
                        <!-- Be Followeds will be loaded here -->
                    </div>
                </div>
                <div class="tab-pane" id="information">
                    <div class="headline"><h4>Personal Information</h4></div>
                    <div class="profile-picture-container text-center">
                        <img id="profilePicture" src="" alt="Profile Picture" width="150" height="150" style="border-radius: 50%; display:none;">
                        <input type="file" id="newProfilePicture" accept="image/*" style="display:none;">
                        <div id="uploadPlaceholder" style="width: 150px; height: 150px; border: 2px dashed #ccc; line-height: 150px; text-align: center; border-radius: 50%;">
                            Upload New Photo
                        </div>
                    </div>
                    <form id="infoForm">

                        <div class="control-group">
                            <label class="control-label" for="bio">Bio:</label>
                            <div class="controls">
                                <textarea class="span6" id="bio" rows="3" readonly></textarea>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" id="editInfoBtn">Edit Information</button>
                        <button type="button" class="btn btn-success" id="saveInfoBtn" style="display:none;">Save Changes</button>
                    </form>
                </div>
                <div class="tab-pane" id="security">
                    <div class="headline"><h4>Account Security</h4></div>
                    <form id="changePasswordForm">
                        <div class="control-group">
                            <label class="control-label" for="verificationCode">Verification Code:</label>
                            <div class="controls">
                                <input type="text" class="span6" id="verificationCode" placeholder="Enter verification code" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="newPassword">New Password:</label>
                            <div class="controls">
                                <input type="password" class="span6" id="newPassword" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="confirmPassword">Confirm New Password:</label>
                            <div class="controls">
                                <input type="password" class="span6" id="confirmPassword" required>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" id="sendVerificationBtn">Send Verification Code</button>
                        <button type="button" class="btn btn-success" id="changePasswordBtn" style="display:none;">Save New Password</button>
                    </form>
                    <div id="passwordMismatchAlert" class="alert alert-error" style="display:none;">
                        The passwords you entered do not match.
                    </div>
                    <div id="verificationSentAlert" class="alert alert-success" style="display:none;">
                        Verification code has been sent to your email.
                    </div>
                    <div id="verificationErrorAlert" class="alert alert-error" style="display:none;">
                        Invalid verification code.
                    </div>
                </div><!--/ tab-pane -->
            </div><!--/tab-content-->
        </div><!--/span9-->
    </div><!-- /row-fluid -->
    <!-- //End Container -->
</div><!--/container-->
<!--=== End Content Part ===-->

<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row-fluid">
            <div class="span8">
                <!-- start-copyright -->
                <p>Copyright @ 2017 How To Chooose Community. All Rights Reserved.</p>
                <!-- end-copyrigh -->
            </div>
            <div class="span4">
                <a href="index.html"><img id="logo-footer" src="assets/img/htc_logo.png" class="pull-right" alt="" /></a>
            </div>
        </div><!--/row-fluid-->
    </div><!--/container-->
</div><!--/copyright-->
<!--=== End Copyright ===-->

<script type="module">
    // Function to check if the user is logged in based on the presence of an auth token.
    function isLoggedIn() {
        const token = localStorage.getItem('authToken');
        console.log('Checking login status:', !!token, 'Token:', token);
        return !!token && token.trim(); // Ensure the token is not just whitespace
    }

    // Function to toggle visibility of authentication states.
    function toggleAuthState() {
    console.log('Toggling authentication state...');
    const unauthenticatedDiv = document.getElementById('unauthenticated');
    const authenticatedDiv = document.getElementById('authenticated');

    if (isLoggedIn()) {
        console.log('User is logged in.');
        unauthenticatedDiv.style.display = 'none';
        authenticatedDiv.style.display = 'block';

        // Fetch user information and update the DOM elements accordingly.
        instance.get('/user/check')
            .then(response => {
                console.log('User info:', response.data);
                const userData = response.data.data;

                // Update the User Center link with the username.
                const userCenterLink = document.querySelector('#authenticated ul li a[href="userCenter.html"]');
                if (userCenterLink) {
                    userCenterLink.href = `/userCenter/${userData.username}`;
                    userCenterLink.textContent = `UserCenter`;
                }

                // Update the avatar image source if available.
                const avatarImg = document.querySelector('#authenticated img.media-object');
                if (avatarImg && userData.avatar) {
                    avatarImg.src = userData.avatar;
                }

                // Add Manager button if user is an admin.
                if (userData.isAdmin) {
                    const managerLi = document.createElement('li');

                    // Apply inline styles directly for spacing
                    managerLi.style.marginRight = '20px'; // Adjust the value as needed

                    managerLi.innerHTML = `<a href="/manager" class="login-btn">Manager</a>`;

                    // Find the UserCenter link and insert the new Manager button before it.
                    const userCenterLinkLi = document.querySelector('#authenticated ul li a[href^="/userCenter"]').parentElement;
                    if (userCenterLinkLi) {
                        userCenterLinkLi.parentElement.insertBefore(managerLi, userCenterLinkLi);
                    }
                }
            })
            .catch(error => {
                console.error('Error checking user info:', error);
            });
    } else {
        console.log('User is not logged in.');
        unauthenticatedDiv.style.display = 'block';
        authenticatedDiv.style.display = 'none';

        // Remove Manager button if it exists when user logs out.
        const managerButton = document.querySelector('#authenticated ul li a[href="/manager"]');
        if (managerButton) {
            managerButton.parentElement.remove();
        }
    }
}

    // Function to handle logout process.
    async function logout(event) {
        event.preventDefault(); // Prevent default link behavior.

        try {
            // Optionally, you can make a request to your server to invalidate the token.
            // await instance.post('/user/logout'); // Uncomment this line if needed.

            // Remove the token from local storage.
            localStorage.removeItem('authToken');
            console.log('User logged out.');

            // Toggle the authentication state display.
            toggleAuthState();

            // Optionally, you can redirect to a different page or refresh the current one.
            // window.location.reload(); // Uncomment this line if you want to reload the page.
        } catch (error) {
            console.error('Error during logout:', error);
        }
    }

    // Existing login function with added call to toggleAuthState upon successful login.
    async function login(event) {
        event.preventDefault(); // Prevent form's default submit behavior.

        try {
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            await instance.post('/user/login', {
                email: email,
                password: password
            }).then(response => {
                if (response.data.code == 0) {
                    alert("success");
                    const token = response.data.data;
                    if (token) {
                        localStorage.setItem('authToken', token);
                        console.log('Token stored successfully:', token);

                        // Debugging: Check if token is being sent in headers
                        console.log('Authorization header:', { authorization: `Bearer ${token}` });

                        toggleAuthState(); // Update nav links after successful login.
                    } else {
                        console.warn('No token received from the server.');
                    }
                } else {
                    throw new Error('Login failed with code: ' + response.data.msg);
                }
            }).catch(error => {
                alert("error");
            });

        } catch (error) {
            console.error('Error during login:', error);
        }
    }

    // Add event listener for logout link
    document.addEventListener('DOMContentLoaded', () => {
        const logoutLink = document.getElementById('logout-link');
        if (logoutLink) {
            logoutLink.addEventListener('click', logout);
        }

        // Initialize the authentication state when the DOM is fully loaded.
        console.log('DOM fully loaded, initializing authentication state...');
        toggleAuthState();
    });

    // Listen for form submission.
    document.addEventListener('DOMContentLoaded', () => {
        const loginForm = document.getElementById('loginForm');
        if (loginForm) {
            loginForm.addEventListener('submit', login);
        }
    });

    // Prevent double submission on "Log in" button click.
    document.addEventListener('DOMContentLoaded', () => {
        const submitButton = document.querySelector('.submit');
        if (submitButton) {
            submitButton.addEventListener('click', function(event) {
                login(event); // Call login function and pass event object.
            });
        }
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Create the Home link and add it to the navigation bar
        const navLinks = document.getElementById('nav-links');
        const homeLi = document.createElement('li');
        const homeA = document.createElement('a');
        homeA.href = '/'; // URL for the home page
        homeA.textContent = 'Home';
        homeLi.appendChild(homeA);
        navLinks.appendChild(homeLi);

        fetch('/topic/all')
            .then(response => response.json())
            .then(data => {
                if (data.code === 0 && Array.isArray(data.data)) {
                    data.data.forEach(topic => {
                        const li = document.createElement('li');
                        const a = document.createElement('a');
                        a.href = `/topic/${topic.topicId}`; // New URL format using topicId
                        a.textContent = topic.name;
                        a.className = 'dropdown-toggle';
                        a.setAttribute('data-toggle', 'dropdown');
                        li.appendChild(a);
                        li.innerHTML += '<b class="caret-out"></b>';
                        navLinks.appendChild(li);
                    });

                    // After all topics are added, append the new <li> element
                    const searchLi = document.createElement('li');
                    searchLi.innerHTML = `<a class="search" href="/searchResult"><i class="icon-search search-btn"></i></a>`;
                    navLinks.appendChild(searchLi);
                }
            })
            .catch(error => console.error('Error fetching topics:', error));
    });
</script>

<!-- JS Global Compulsory -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/zoom.min.js"></script> <!-- image extension -->
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="/assets/js/app.js"></script>
<script>

    $(document).ready(function() {
    instance.get('user/check')
        .then(response => {
            console.log(response.data.data);
            const currentUsername = response.data.data.username;

            // 提取 URL 路径中的 username
            const pathname = window.location.pathname;
            const pathParts = pathname.split('/');
            const viewedUsername = pathParts[pathParts.length - 1];

            if (currentUsername !== viewedUsername) {
                $('#informationTab').hide();
                $('#securityTab').hide();
                $('#actionButtons').show();
            } else {
                $('#informationTab').show();
                $('#securityTab').show();
                $('#actionButtons').hide();
            }
        })
        .catch(error => {
            console.error('Failed to check user:', error);
        });
});

    $(document).ready(function() {
    $('#heartbtn').on("click", '.heart', function() {
        var A = $(this).attr("id");
        var B = A.split("like");
        var messageID = B[1];
        var C = parseInt($("#likeCount" + messageID).html());
        $(this).css("background-position", "")
        var D = $(this).attr("rel");

        if (D === 'like') {
            $("#likeCount" + messageID).html(C + 1);
            $(this).addClass("heartAnimation").attr("rel", "unlike");
        } else {
            $("#likeCount" + messageID).html(C - 1);
            $(this).removeClass("heartAnimation").attr("rel", "like");
            $(this).css("background-position", "left");
        }
    });

    // Tab switching functionality
    $('.nav.nav-tabs a').on('click', function(e) {
        e.preventDefault();
        $(this).tab('show');
    });

    // Load user information from database
    loadUserInfo();

    // Edit and Save Information Functionality
    $('#editInfoBtn').click(function() {
        $('#bio').prop('readonly', false);
        $('#editInfoBtn').hide();
        $('#saveInfoBtn').show();
    });

    $('#saveInfoBtn').click(function() {
        const bio = $('#bio').val();
        const user = { profile: bio  };

        instance.post('user/profile/update', user)
            .then(response => {
                console.log('Profile updated successfully:', response.data);
                alert('Your profile has been successfully updated.');
                $('#bio').prop('readonly', true);
                $('#editInfoBtn').show();
                $('#saveInfoBtn').hide();
            })
            .catch(error => {
                console.error('Error updating profile:', error.response ? error.response.data : error.message);
                alert('Failed to update profile.');
            });
    });



        // Follow Button Click Handler
        $('#followButton').click(function() {
            const userId = currentUserId; // Use the stored user ID

            instance.post('/api/followUser', { userId: userId })
                .then(response => {
                    console.log('Success:', response.data);
                    alert('You are now following this user!');
                    // Optionally, update UI to reflect follow status
                    $('#followButton').prop('disabled', true).text('Following');
                })
                .catch(error => {
                    console.error('Error:', error);

                });
        });

        // Message Button Click Handler
        $('#messageButton').click(function() {
            const receiverId = currentUserId; // Use the stored user ID
            window.location.href = `/messages?receiverId=${receiverId}`;
        });
    });

    let currentUserId;

    function loadUserInfo() {
        const username = getUsernameFromUrl();
        instance.get(`/user/info/${username}`)
            .then(response => {
                const userData = response.data.data;
                currentUserId = userData.user.userId; // Store the user ID
                updateUIWithUserData(userData);
                $('#profilePicture').attr('src', `/static/avatar/${userData.user.avatar}`).show();
                $('#purchaseProfilePicture').attr('src', `/static/avatar/${userData.user.avatar}`).show();
                $('#uploadPlaceholder').hide();
                console.log('currentUserId set to:', currentUserId); // Debugging log
                checkFollowStatus(currentUserId);
            })
            .catch(error => {
                console.error('Error loading user info:', error);
            });
    }

    function getUsernameFromUrl() {
        const pathArray = window.location.pathname.split('/');
        return pathArray[pathArray.length - 1]; // Last segment of the URL is the username
    }

function checkFollowStatus(userId) {
    if (!userId) {
        console.error('No userId provided to checkFollowStatus function');
        return;
    }

    instance.get('follow/check', { params: { userId: userId } })
        .then(response => {
            const isFollowing = response.data.data;
            updateFollowButton(isFollowing);
        })
        .catch(error => {
            console.error('Error checking follow status:', error.response ? error.response.data : error.message);
        });
}

function updateFollowButton(isFollowing) {
    const $followButton = $('#followButton');
    if (isFollowing) {
        $followButton.text("Don't follow").removeClass('btn-primary').addClass('btn-danger');
    } else {
        $followButton.text('Follow').removeClass('btn-danger').addClass('btn-primary');
    }
}

function followUser(userId) {
    if (!userId) {
        console.error('No userId provided to followUser function');
        return;
    }
    const userToFollow = { userId: userId };

    console.log('Sending follow request with userId:', userId); // Debugging log

    instance.put('follow/operate', userToFollow)
        .then(response => {
            console.log('Server response:', response.data); // Debugging log
            if (response.data.code === 0) { // Assuming success code is 0
                alert('Successfully updated follow status!');
                // Toggle button state
                const $followButton = $('#followButton');
                if ($followButton.text().trim() === "Don't follow") {
                    $followButton.text('Follow').removeClass('btn-danger').addClass('btn-primary');
                } else {
                    $followButton.text("Don't follow").removeClass('btn-primary').addClass('btn-danger');
                }
            } else {
                alert('Failed to update follow status.');
            }
        })
        .catch(error => {
            console.error('Error updating follow status:', error.response ? error.response.data : error.message);
            alert('An error occurred while trying to update follow status.');
        });
}

function sendVerificationCode() {
    instance.get('user/password/step/1')
        .then(response => {
            console.log('Verification code sent successfully:', response.data);
            $('#verificationSentAlert').show().delay(3000).fadeOut();
            $('#changePasswordBtn').show();
        })
        .catch(error => {
            console.error('Error sending verification code:', error.response ? error.response.data : error.message);
            alert('Failed to send verification code.');
        });
}

function changePassword() {
    const newPassword = $('#newPassword').val();
    const confirmPassword = $('#confirmPassword').val();
    const verificationCode = $('#verificationCode').val();

    if (newPassword !== confirmPassword) {
        $('#passwordMismatchAlert').show().delay(3000).fadeOut();
        return;
    }

    const user = { password: newPassword };
    instance.post('user/password/step/2', user, { params: { verification: verificationCode } })
        .then(response => {
            console.log('Password changed successfully:', response.data);
            alert('Your password has been successfully changed.');
            $('#changePasswordForm')[0].reset();
            $('#verificationCode').val('');
            $('#changePasswordBtn').hide();
        })
        .catch(error => {
            console.error('Error changing password:', error.response ? error.response.data : error.message);
            if (error.response && error.response.status === 400) {
                $('#verificationErrorAlert').show().delay(3000).fadeOut();
            } else {
                alert('Failed to change password.');
            }
        });
}

$(document).ready(function() {
    loadUserInfo();

    $('#followButton').on('click', function() {
        if (currentUserId) {
            followUser(currentUserId); // 使用 currentUserId 作为参数传递给后端接口
        } else {
            console.error('currentUserId not found when clicking follow button');
            alert('Current user ID not found.');
        }
    });
    setupPasswordReset();
});

    function setupPasswordReset() {
    $('#sendVerificationBtn').on('click', function() {
        sendVerificationCode();
    });

    $('#changePasswordBtn').on('click', function() {
        changePassword();
    });
}

    function updateUIWithUserData(userData) {
        $('#userNameDisplay').text(userData.user.username);
        $('#userDescriptionDisplay').text(userData.user.profile);
        $('#name').val(userData.user.username);
        $('#age').val(calculateAge(new Date(userData.user.birth)));
        $('#gender').val(userData.user.gender ? 'male' : 'female');
        $('#occupation').val(''); // Occupation is not provided in your sample data
        $('#bio').val(userData.user.profile);

        // Update posts container
        const postsContainer = $('#postsContainer');
        postsContainer.empty();
        userData.posts.forEach(post => {
            postsContainer.append(`
                <div class="ps-post-title">
                    <a href="#" style="text-decoration: none;">
                        <blockquote>
                            <div class="ps-post-time">${formatDate(new Date(post.startTime))}</div>
                            <h4><strong>${post.title}</strong></h4>
                            <p>${post.description}</p>
                        </blockquote>
                    </a>
                </div>
            `);
        });

        // Update stars container
        const starsContainer = $('#starsContainer');
        starsContainer.empty();
        userData.stars.forEach(star => {
            starsContainer.append(`
                <div class="ps-post-title">
                    <a href="#" style="text-decoration: none;">
                        <blockquote>
                            <div class="ps-post-time">${formatDate(new Date(star.startTime))}</div>
                            <h4><strong>${star.title}</strong></h4>
                            <p>${star.description}</p>
                        </blockquote>
                    </a>
                </div>
            `);
        });

        // Update my voted container
        const myVotedContainer = $('#myVotedContainer');
        myVotedContainer.empty();
        userData.votes.forEach(vote => {
            const pollString = Object.keys(vote)[0];
            const voteDetails = vote[pollString];

            // Parse the poll string into an object
            const pollObject = parsePollString(pollString);

            myVotedContainer.append(`
                <div class="ps-post-title">
                    <a href="#" style="text-decoration: none;">
                        <blockquote>
                            <div class="ps-post-time">${formatDate(new Date(pollObject.startTime))}</div>
                            <h4><strong>${pollObject.title}</strong></h4>
                            <p>Voted on option: ${voteDetails.description}</p>
                        </blockquote>
                    </a>
                </div>
            `);
        });

        // Update follow container
        const followContainer = $('#followContainer');
        followContainer.empty();
        userData.followings.forEach(follow => {
            followContainer.append(`
                <li class="span3">
                    <div class="thumbnail-style">
                        <a href="#">
                            <img src="assets/img/${follow.avatar}" alt="" style="width:100%; height:auto;" /></a>
                        <h3><a href="#">${follow.username}</a></h3>
                        <small><a class="glyphicons no-js user_add"><i></i></a>
                            <a class="glyphicons no-js calendar" style="margin-left: 40px;width:20px;"><i></i></a><span style="font-size:18px;">${formatDate(new Date(follow.birth))}</span>
                        </small>
                        <p>${follow.profile}</p>
                    </div>
                </li>
            `);
        });

        // Update be followed container
        const beFollowedContainer = $('#beFollowedContainer');
        beFollowedContainer.empty();
        userData.followers.forEach(beFollowed => {
            beFollowedContainer.append(`
                <li class="span3">
                    <div class="thumbnail-style">
                        <a href="#">
                            <img src="assets/img/${beFollowed.avatar}" alt="" style="width:100%; height:auto;" /></a>
                        <h3><a href="#">${beFollowed.username}</a></h3>
                        <small><a class="glyphicons no-js user_add"><i></i></a>
                            <a class="glyphicons no-js calendar" style="margin-left: 40px;width:20px;"><i></i></a><span style="font-size:18px;">${formatDate(new Date(beFollowed.birth))}</span>
                        </small>
                        <p>${beFollowed.profile}</p>
                    </div>
                </li>
            `);
        });
    }

    function parsePollString(pollString) {
        const pollRegex = /Poll\((.*?)\)/;
        const match = pollString.match(pollRegex);
        if (!match) return {};

        const fields = match[1].split(', ');
        const pollObject = {};
        fields.forEach(field => {
            const [key, value] = field.split('=');
            pollObject[key.trim()] = value.replace(/"/g, '');
        });
        return pollObject;
    }

    function calculateAge(birthdate) {
        const today = new Date();
        const age = today.getFullYear() - birthdate.getFullYear();
        const monthDifference = today.getMonth() - birthdate.getMonth();
        if (monthDifference < 0 || (monthDifference === 0 && today.getDate() < birthdate.getDate())) {
            return age - 1;
        }
        return age;
    }

    function formatDate(date) {
        return date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });
    }

    jQuery(document).ready(function() {
        App.init();
        // App.initSliders();
        // App.initBxSlider();
    });
</script>


<!--[if lt IE 9]>
<script src="assets/js/respond.js"></script>
<![endif]-->
</body>
</html>



