<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poll.mapper.FollowMapper">

    <resultMap id="BaseResultMap" type="com.poll.pojo.Follow">
        <id property="followId" column="follow_id" jdbcType="INTEGER"/>
        <result property="followerId" column="follower_id" jdbcType="INTEGER"/>
        <result property="followingId" column="following_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        follow_id
        ,follower_id,following_id
    </sql>

    <select id="select" resultType="com.poll.pojo.Follow">
        select *
        from follow
        where follower_id = #{followerId}
        and following_id = #{followingId}
    </select>

    <insert id="insert">
        insert into follow (follower_id, following_id)
        values (#{followerId}, #{followingId})
    </insert>

    <delete id="delete">
        delete from follow
        where follow_id = #{followId}
    </delete>
</mapper>
