<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poll.mapper.PollTopicsMapper">

    <resultMap id="BaseResultMap" type="com.poll.pojo.PollTopics">
        <id property="pollTopicsId" column="poll_topics_id" jdbcType="INTEGER"/>
        <result property="pollId" column="poll_id" jdbcType="INTEGER"/>
        <result property="topicId" column="topic_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        poll_topics_id
        ,poll_id,topic_id
    </sql>

    <select id="getPolls" resultType="com.poll.pojo.Poll">
        select p.*
        from poll p
        join poll_topics pt
        on pt.poll_id = p.poll_id
        where pt.topic_id = #{id}
        order by p.start_time desc
        limit #{size} offset #{offset}
    </select>

    <select id="getTopicCount" resultType="java.lang.Integer">
        select count(*)
        from poll_topics pt
        join poll p
        on pt.poll_id = p.poll_id
        and p.enabled = true
        where pt.topic_id = #{id}
    </select>

    <insert id="insert">
        insert into poll_topics (poll_id, topic_id)
        values (#{pollId}, #{topicId})
    </insert>
</mapper>
