<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poll.mapper.PollMapper">

    <resultMap id="BaseResultMap" type="com.poll.pojo.Poll">
        <id property="pollId" column="poll_id" jdbcType="INTEGER"/>
        <result property="creatorId" column="creator_id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="BOOLEAN"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="starCount" column="star_count" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="allowAnonymous" column="allow_anonymous" jdbcType="BOOLEAN"/>
        <result property="enabled" column="enabled" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        poll_id
        ,creator_id,type,
		title,star_count,description,
		start_time,end_time,allow_anonymous,
		enabled
    </sql>

    <select id="getPolls" resultType="com.poll.pojo.Poll">
        select <include refid="Base_Column_List"/>
        from poll
        where enabled = true
        order by start_time desc
        limit #{size} offset #{offset}
    </select>

    <select id="getPollCount" resultType="java.lang.Integer">
        select count(*)
        from poll
        where enabled = true
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="pollId">
        insert into poll
            <trim prefix="(" suffix=")" suffixOverrides=",">
                creator_id, type, title, description,
                <if test="endTime != null">end_time,</if>
                <if test="allowAnonymous != null">allow_anonymous,</if>
            </trim>
        values
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{creatorId}, #{type}, #{title}, #{description},
                <if test="endTime != null">#{endTime},</if>
                <if test="allowAnonymous != null">#{allowAnonymous},</if>
            </trim>
    </insert>

    <select id="selectById" resultType="com.poll.pojo.Poll">
        select <include refid="Base_Column_List"/>
        from poll
        where poll_id = #{id}
    </select>

    <select id="selectPost" resultType="com.poll.pojo.Poll">
        select <include refid="Base_Column_List"/>
        from poll
        where creator_id = #{id}
    </select>

    <select id="selectStar" resultType="com.poll.pojo.Poll">
        select p.poll_id, p.creator_id, p.type, p.title, p.star_count, p.description, p.start_time, p.end_time, p.allow_anonymous, p.enabled
        from poll p
        join star s
        on s.poll_id = p.poll_id
        where s.user_id = #{id}
    </select>

    <update id="enableOperate">
        update poll
        set enabled = 1 - enabled
        where poll_id = #{id}
    </update>
</mapper>
