<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poll.mapper.StarMapper">

    <resultMap id="BaseResultMap" type="com.poll.pojo.Star">
        <id property="starId" column="star_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="pollId" column="poll_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        star_id
        ,user_id,poll_id
    </sql>
</mapper>
