<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poll.mapper.TopicMapper">

    <resultMap id="BaseResultMap" type="com.poll.pojo.Topic">
        <id property="topicId" column="topic_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="count" column="count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        topic_id
        ,name,description,
        count
    </sql>

    <select id="selectByPollId" resultType="com.poll.pojo.Topic">
        select t.*
        from topic t
        join poll_topics pt
        on t.topic_id = pt.topic_id
        where pt.poll_id = #{id}
    </select>

    <select id="getAllTopics" resultType="com.poll.pojo.Topic">
        select <include refid="Base_Column_List"/>
        from topic
    </select>
</mapper>
